<table st-table="videos" class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Video title</th>
        <th>Video URL</th>
        <th>Resource ID</th>
        <th>Edit link</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="video in videos">
        <td>{$ video.id $}</td>
        <td>{$ video.title $}</td>
        <td><a ng-href="{$ video.url $}">Click here...</a></td>
        <td>{$ video.resource_id $}</td>
        <td>
            <md-button class="md-raised" ng-click="redirect('/editor/' + video.id )">Click here...</md-button>
        </td>
    </tr>
    </tbody>
</table>