#math-quick-render-input { width: 100%; }

#math-quick-render-output-container { text-align: center; }

#math-quick-render-output {
    font-size: 150%;
    text-align: center;
    width: 100%;
}

#captions_table { table-layout: fixed; }

input {
    max-width: 100%;
    width: 100%;
}

#captions-table-container {
    border-radius: 10px;
    box-shadow: 0px 0 100px gray;
    height: 150px;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 1em;
    overflow-y: scroll;
    padding: 5px 5px 5px 5px;
}

#captions_table tbody td { padding-bottom: 10px; }

#captions-add-container { width: 100%; }

#captions-add-container tr { box-shadow: 0 0 10px grey; }

#player-editor-container { padding-right: 2em; }

#editor-controls {
    background-color: white;
    border-radius: 10px;
    bottom: 5em;
    box-shadow: 0px 0px 10px lightgray;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    z-index: 1;
}

.inline { display: inline; }

#captions-add-container-super {
    margin-right: -2em;
    padding-left: 1em;
}

#editor-references-container {
    height: 283px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1em 1em 1em 1em;
}

#container { padding-top: 1em; }