<md-content flex layout-margin layout-padding style="background-color:#EF5350; color:white;">
    <h1 class="md-display-3">RichCaptions</h1>
    <h3>Symbolic math/science captions for educational videos</h3>
</md-content>

<div layout="row" layout-padding>
    <div flex="50" flex-md="100">
        <md-card>
            <img ng-src="/static/img/home/richer-captions.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Richer captions for educational videos</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Spend less time deciphering plain text and more time understanding semantically-useful captions.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="redirect('player')">Watch videos</md-button>
                <md-button ng-click="redirect('editor')">Caption videos</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>