<div ng-cloak>
    <md-content>
        <md-tabs
                md-dynamic-height
                md-border-bottom
                md-selected="selectedTab">
            <md-tab label="home" ng-click="redirect('')">
            </md-tab>
            <md-tab label="player" ng-click="redirect('player')">
            </md-tab>
            <md-tab label="editor" ng-click="redirect('editor')">
            </md-tab>
            <md-tab label="api">
            </md-tab>
            <md-tab label="support">
            </md-tab>
        </md-tabs>
    </md-content>
</div>